In [2]:
import pandas as pd
df = pd.read_csv("tips.csv")
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
df['day'].value_counts()
#Saturday is the busiest day

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [ ]:
df['time'].value_counts()
#PPeople mostly come for dinner

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [ ]:
df['sex'].value_counts()
#Male customers are more

sex
Male      157
Female     87
Name: count, dtype: int64

In [ ]:
df.groupby('day')['total_bill'].sum()
#Sat is the highest selling day

day
Fri      325.88
Sat     1778.40
Sun     1627.16
Thur    1096.33
Name: total_bill, dtype: float64

In [ ]:
df.groupby('sex')['tip'].mean()
#Male gives more tips

sex
Female    2.833448
Male      3.089618
Name: tip, dtype: float64

In [ ]:
df.groupby('day')['total_bill'].mean()
#Average spending everyday

day
Fri     17.151579
Sat     20.441379
Sun     21.410000
Thur    17.682742
Name: total_bill, dtype: float64

In [ ]:
df['total_bill'].max()
#Highest tip

np.float64(50.81)

In [ ]:
df['size'].median()
#Typical group size is 2

np.float64(2.0)

In [13]:
df.nlargest(5, 'tip')

     total_bill    tip   sex smoker   day    time  size
170       50.81  10.00  Male    Yes   Sat  Dinner     3
212       48.33   9.00  Male     No   Sat  Dinner     4
23        39.42   7.58  Male     No   Sat  Dinner     4
59        48.27   6.73  Male     No   Sat  Dinner     4
141       34.30   6.70  Male     No  Thur   Lunch     6